body {
  background-color: #F7F9FB;
}
.parentContainer {
  height: 1500px;
  border: 1px solid black;
}

.banner {
  /* color:white; */
  border-bottom: 1px solid grey;
  display: flex;
  height: 60px;
  background-color: #BC4639;
  font-size: 15px;
  font-weight: bold;
}

dialog {
  top: 0;
  right: 0;
}

.logo {
  flex-basis: 50%;
}

.userInfo {
  flex-basis: 50%;
  align-self: center;
  text-align: right;
  margin-right: 20px;
  font-size: 16px;
}

.mainContainer {
  margin-top: 20px;
  height: 1300px;
  display: flex;
  justify-content: center;
}

.groupListContainer {
  margin-top: 20px;
  flex-basis: 30%;
  margin-right: 5%;
  height: 1300px;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-top: 20px;
  border: 1px solid black;
  flex-basis: 20%;
}

#createGroup, #createExpense {
  display: grid;
  margin: auto;
  margin-top: 30px;
  padding: 10px 5px;
  width: 180px;
  font-size: 16px;
  border-radius: 5px;
  border: solid #BC4639;
  background-color: #F7F9FB;
  color: #BC4639;
}

.groupList {
  margin-top: 50px;
  padding-top: 10px;
  flex-basis: 60%;
  align-self: center;
  height: 920px;
}

.groupViewContainer {
  margin-top: 20px;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  height: 1300px;
}
#list{
  font-size: 24px;
}

.group {
  display: flex;
  flex-direction: column;
}

.groupName {
  font-size: 16px;
  margin-top:10px
}

#groupContainer1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-basis: 50%;
  align-self: center;
  justify-content: center;
  font-size: 18px;
}

#groupName, #countTransactions, #countMembers {
  margin: 10px;
  font-size:24px;
  text-align: center;
}

#groupName {
  font-size: 32px;
  font-weight: bolder;
}

.owe {
  font-size: 18px;
}

#settleUp {
  align-self: center;
  width: 180px;
  height: 44px;
  padding: 10px 5px;
  font-size: 16px;
  border: solid #BC4639;
  background-color: #F7F9FB;
  color: #BC4639;
  border-radius: 5px;
  margin:auto;
}

.container1 {
  margin-top:10px;
  /* border: 1px solid black; */
  display:flex
}

.user {
  border: 1px solid black;
  height: 400px;
  flex-basis:50%;
  display: flex;
  flex-direction: column;
}

#avartar {
  margin-top: 20px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  flex-basis: 50%;
  align-self: center;
}

.amount {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.group {
  /* border: 1px solid black; */
  flex-basis:50%;
}

.container2 {
  margin-top:10px;
  border: 1px solid black;
  height: 50px;
  display: flex;
}

.container3 {
  margin-top:10px;
}

.eachDebt {
  display: flex;
  margin: 10px;
  border-bottom: 1px solid #BC4639;
}

.borrower, .arrow, .lender {
  flex-basis: 33%;
  text-align: center;
}

#transactions, #members, #Debts {
  padding-top: 6px;
  flex-basis: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.groupMember {
  list-style-type: square;
  text-align: center;
  margin: 15px;
  font-size: 24px;
}

.groupMember:hover {
  color: #BC4639;
  cursor: pointer;
}




/*---------------------------------------------Modal Styling-------------------------------------------*/

.relativeContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.modalContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  border-radius: 8px;
  border: solid #BC4639;
}

#payorModal, #splitModal {
  left: 950px;
  background-color: transparent;
}

.modalContent {
  width: 500px;
  background-color: #fff;
}

.modalHeader, .modalFooter {
  padding: 10px;
  display: flex;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 10px;
  border-top: 1px solid #BC4639;
  border-bottom: 1px solid #BC4639;
}

.detailContainer {
  display: flex;
}

.receipt {
  flex-basis: 30%;
}

.detailContainer2 {
  flex-basis: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#addMember {
 width: 210px;
}

#addDescription, #addAmount {
  height: 30px;
  margin-top: 15px;
  border:none;
  border-bottom: 1px solid grey;
}

.splitDetail {
  margin-top: 10px;
}

.payor, .split {
  font-weight: bold;
}

#modalBody li:hover {
  cursor: pointer;

}

.options {
  display: flex;
  flex-direction: column;
}

.options {
  margin-bottom: 5px;
  margin-left: 5px;
}

.share {
  border: none;
  border-bottom: 1px solid grey;
  margin-left: 10px;
  width: 40px;
}

/*----------------------------------------Footer-----------------------------------------------*/
.footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}
